@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "IBM Plex Mono", sans-serif;
	background-color: #333;
}
.wrapper {
	width: 600px;
	margin: 30px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 8px;
	background-color: #bbd0fb;
	div {
		display: flex;
		padding: 15px;
    button{
      background-color: black;
      color: #fff;
      border: none;
      margin: 0 8px;
      padding: 3px 8px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
    }
	}
}
